In [509]:
# import comman library

import numpy as np
import pandas as pd


import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [510]:
# # import dataset from sklearn
# from sklearn.datasets import make_regression
# # df = pd.DataFrame()
# x,y=make_regression(n_samples=100,n_features=5,n_informative=1,n_targets=1,noise=0)

In [511]:
# import data set from csv file 

df=pd.read_csv("C:\\Users\\choud\\Desktop\\jupter_files\\Cars.csv")
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [512]:
# for dist and prob plot
def plot (df_X):

    plt.figure(figsize=(14,4))
    plt.subplot(121)
    sns.distplot(df_X)
    plt.title(df_X)

    plt.subplot(122)
    stats.probplot(df_X,dist='norm',plot=plt)
    plt.title("QQ-Plot")

    plt.show()

In [513]:
df.isnull().sum()

brand            0
km_driven        0
fuel             0
owner            0
selling_price    0
dtype: int64

In [514]:
df['fuel'].value_counts()

fuel
Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: count, dtype: int64

In [515]:
df['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

In [516]:
df["owner"]=np.where(
    df["owner"]=="First Owner", 
    1,       
    np.where(
        df["owner"]=="Second Owner", 
         2,
        np.where(
            df["owner"]=="Third Owner" , 
            3 ,
            np.where(
                df["owner"]== "Fourth & Above Owner",
                4,
                0
            )
        )
    
    )
)

In [517]:
df['owner'].value_counts()

owner
1    5289
2    2105
3     555
4     174
0       5
Name: count, dtype: int64

In [518]:
df['brand'].value_counts()

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Force               6
Land                6
Isuzu               5
Kia                 4
Ambassador          4
Daewoo              3
MG                  3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [519]:
df["brand"]=np.where(
    df["brand"]=="Maruti", 
    "Maruti",       
    np.where(
        df["brand"]=="Hyundai", 
         "Hyundai",
        np.where(
            df["brand"]=="Mahindra" , 
            "Mahindra" ,
            np.where(
                df["brand"]== "Tata",
                "Tata",
                "other"
            )
        )
    
    )
)

In [520]:
df['brand'].value_counts()

brand
other       2759
Maruti      2448
Hyundai     1415
Mahindra     772
Tata         734
Name: count, dtype: int64

In [521]:
#  one hot encoding
# 
from sklearn.preprocessing import OneHotEncoder
one=OneHotEncoder(drop='first',sparse_output=False) # drop = 'first'  represent dummy OneHotEncoding

In [522]:
df_tran=one.fit_transform(df[['fuel','brand']])
df_tran

array([[1., 0., 0., ..., 1., 0., 0.],
       [1., 0., 0., ..., 0., 0., 1.],
       [0., 0., 1., ..., 0., 0., 1.],
       ...,
       [1., 0., 0., ..., 1., 0., 0.],
       [1., 0., 0., ..., 0., 1., 0.],
       [1., 0., 0., ..., 0., 1., 0.]])

In [523]:
# # ordinal encoder 
# from sklearn.preprocessing import OrdinalEncoder
# oe =OrdinalEncoder()

# X=[["Test"],["First"],["Second"],["Third"],["fourth"]]
# oe.fit(X)
# oe.categories_
# oe.transform(x_train["owner"])

In [524]:
Data= pd.DataFrame(np.hstack((df[['owner','km_driven']],df_tran,df[["selling_price"]])))
Data[1]=pd.DataFrame(Data[1].values/10000)
Data[9]=pd.DataFrame(Data[9].values/10000)
Data

        0      1    2    3    4    5    6    7    8     9
0     1.0  14.55  1.0  0.0  0.0  0.0  1.0  0.0  0.0  45.0
1     2.0  12.00  1.0  0.0  0.0  0.0  0.0  0.0  1.0  37.0
2     3.0  14.00  0.0  0.0  1.0  0.0  0.0  0.0  1.0  15.8
3     1.0  12.70  1.0  0.0  0.0  0.0  0.0  0.0  0.0  22.5
4     1.0  12.00  0.0  0.0  1.0  0.0  1.0  0.0  0.0  13.0
...   ...    ...  ...  ...  ...  ...  ...  ...  ...   ...
8123  1.0  11.00  0.0  0.0  1.0  0.0  0.0  0.0  0.0  32.0
8124  4.0  11.90  1.0  0.0  0.0  0.0  0.0  0.0  0.0  13.5
8125  1.0  12.00  1.0  0.0  0.0  0.0  1.0  0.0  0.0  38.2
8126  1.0   2.50  1.0  0.0  0.0  0.0  0.0  1.0  0.0  29.0
8127  1.0   2.50  1.0  0.0  0.0  0.0  0.0  1.0  0.0  29.0

[8128 rows x 10 columns]

In [525]:
x=Data.iloc[:,0:9]
y=Data.iloc[:,-1]

In [526]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train,y_test = train_test_split(x,y,test_size=0.2)

In [531]:
from sklearn.linear_model import LogisticRegression

In [532]:

logR=LogisticRegression()

In [535]:
# knn.fit(x_train,y_train)
dt.fit(x_train,y_train)

# logR.fit(x_train,y_train)

ValueError: Unknown label type: continuous. Maybe you are trying to fit a classifier, which expects discrete classes on a regression target with continuous values.

In [488]:
x_train

        brand  km_driven    fuel  owner
8043    other      60000  Petrol      3
3481  Hyundai     100000  Petrol      1
6088    other      80000  Petrol      2
3117   Maruti      32995  Petrol      1
4266    other      25538  Petrol      1
...       ...        ...     ...    ...
1381   Maruti      65000  Petrol      2
498    Maruti      30000  Diesel      1
1926   Maruti     110000  Petrol      3
4660     Tata      70000  Diesel      2
1009    other      81632  Diesel      1

[6502 rows x 4 columns]

In [534]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()

In [ ]:
df.