
One hot encoding

In [32]:
import numpy as np
import pandas as pd

df=pd.read_csv("C:\\Users\\choud\\Desktop\\jupter_files\\Cars.csv")
df.head(), df.shape

(     brand  km_driven    fuel         owner  selling_price
 0   Maruti     145500  Diesel   First Owner         450000
 1    Skoda     120000  Diesel  Second Owner         370000
 2    Honda     140000  Petrol   Third Owner         158000
 3  Hyundai     127000  Diesel   First Owner         225000
 4   Maruti     120000  Petrol   First Owner         130000,
 (8128, 5))

In [18]:
df['fuel'].value_counts()

fuel
Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: count, dtype: int64

In [19]:
df['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

In [20]:
df['brand'].value_counts()

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Force               6
Land                6
Isuzu               5
Kia                 4
Ambassador          4
Daewoo              3
MG                  3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

use pandas

In [21]:
pd.get_dummies(df,columns=['fuel','owner'])

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,False,True,False,False,True,False,False,False,False
1,Skoda,120000,370000,False,True,False,False,False,False,True,False,False
2,Honda,140000,158000,False,False,False,True,False,False,False,False,True
3,Hyundai,127000,225000,False,True,False,False,True,False,False,False,False
4,Maruti,120000,130000,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,False,True,True,False,False,False,False
8124,Hyundai,119000,135000,False,True,False,False,False,True,False,False,False
8125,Maruti,120000,382000,False,True,False,False,True,False,False,False,False
8126,Tata,25000,290000,False,True,False,False,True,False,False,False,False
8127,Tata,25000,290000,False,True,False,False,True,False,False,False,False

In [22]:
new_= pd.get_dummies(df,columns=['fuel','owner'],drop_first=True)
new_.head()

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,True,False,False,False,False,False,False
1,Skoda,120000,370000,True,False,False,False,True,False,False
2,Honda,140000,158000,False,False,True,False,False,False,True
3,Hyundai,127000,225000,True,False,False,False,False,False,False
4,Maruti,120000,130000,False,False,True,False,False,False,False

use sklearn

In [23]:
# x=df.drop(['brand','km_driven','selling_price'],axis=1)
y=df['selling_price']

In [24]:
from sklearn.model_selection import train_test_split
x_train, x_tast, y_train, y_test = train_test_split(df.iloc[:,:4],y,test_size=0.2)

In [25]:
x_train.head()

        brand  km_driven    fuel        owner
5793  Hyundai     110000     CNG  Third Owner
6913   Maruti      40000  Diesel  First Owner
3558  Hyundai      40000  Diesel  First Owner
116    Maruti      60000  Diesel  First Owner
1028  Hyundai      70000  Petrol  First Owner

In [26]:
from sklearn.preprocessing import OneHotEncoder

In [27]:
ohe= OneHotEncoder(drop='first',sparse_output=False)

In [28]:
x_train_trans = ohe.fit_transform(x_train[['fuel','owner']])

In [29]:
x_train_trans

array([[0., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 1., ..., 1., 0., 0.]])

In [30]:
x_train_trans.shape

(6502, 7)

In [33]:
new_data= np.hstack((x_train[['brand','km_driven']].values,x_train_trans))
new_data

array([['Hyundai', 110000, 0.0, ..., 0.0, 0.0, 1.0],
       ['Maruti', 40000, 1.0, ..., 0.0, 0.0, 0.0],
       ['Hyundai', 40000, 1.0, ..., 0.0, 0.0, 0.0],
       ...,
       ['Ford', 165000, 1.0, ..., 0.0, 0.0, 0.0],
       ['Volkswagen', 18816, 0.0, ..., 0.0, 0.0, 0.0],
       ['Maruti', 35000, 0.0, ..., 1.0, 0.0, 0.0]], dtype=object)