column transformer

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("C:\\Users\\choud\\Desktop\\jupter_files\\covid_toy.csv")
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [3]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
x_train,x_test, y_train, y_test= train_test_split(df.drop(columns=['has_covid']),
                                                 df['has_covid'],
                                                 test_size=0.3)

In [6]:
# x_train.head()

In [7]:
from sklearn.impute import SimpleImputer
si= SimpleImputer()

In [8]:
x_train_fever=si.fit_transform(x_train[['fever']])

x_test_fever=si.fit_transform(x_test[['fever']])

In [9]:
x_train_fever.shape

(70, 1)

In [10]:
from sklearn.preprocessing import OrdinalEncoder

In [11]:
oe=OrdinalEncoder(categories=[['Mild','Strong']])

In [12]:
x_train_cough= oe.fit_transform(x_train[['cough']])

x_test_cough= oe.fit_transform(x_test[['cough']])

In [13]:
x_train_cough

array([[1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.]])

In [14]:
from sklearn.preprocessing import OneHotEncoder

In [15]:
ohe=OneHotEncoder(drop='first',sparse_output=False)

In [16]:
x_train_gender_city=ohe.fit_transform(x_train[['gender','city']])

x_test_gender_city=ohe.fit_transform(x_test[['gender','city']])

In [17]:
x_train_gendre_city

NameError: name 'x_train_gendre_city' is not defined

In [ ]:
x_train_age=x_train.drop(columns=['gender','fever','cough','city'])


x_test_age=x_test.drop(columns=['gender','fever','cough','city'])

In [ ]:
x_train_age

    age
17   40
8    19
67   65
29   34
99   10
..  ...
47   18
83   17
65   69
49   44
92   82

[70 rows x 1 columns]

In [ ]:
x_train_tranfor=np.concatenate((x_train_age,x_train_fever,x_train_gender_city,x_train_cough),axis=1)


x_test_tranfor=np.concatenate((x_test_age,x_test_fever,x_test_gender_city,x_test_cough),axis=1)
x_tranfor.shape

(70, 7)

use column transforn

In [ ]:
from sklearn.compose import ColumnTransformer

In [18]:
x_train

    age  gender  fever   cough       city
12   25  Female   99.0  Strong    Kolkata
42   27    Male  100.0    Mild      Delhi
28   16    Male  104.0    Mild    Kolkata
14   51    Male  104.0    Mild  Bangalore
88    5  Female  100.0    Mild    Kolkata
..  ...     ...    ...     ...        ...
74   34  Female  104.0  Strong      Delhi
65   69  Female  102.0    Mild  Bangalore
15   70    Male  103.0  Strong    Kolkata
36   38  Female  101.0    Mild  Bangalore
4    65  Female  101.0    Mild     Mumbai

[70 rows x 5 columns]

In [ ]:
transformer=ColumnTransformer(transformers=[
    ('tf1',SimpleImputer(),['fever']),
    ('tf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
     ('tf3',OneHotEncoder(drop='first',sparse_output=False),['gender','city']),
],remainder='passthrough')

In [ ]:
transformer

ColumnTransformer(remainder='passthrough',
                  transformers=[('tf1', SimpleImputer(), ['fever']),
                                ('tf2',
                                 OrdinalEncoder(categories=[['Mild',
                                                             'Strong']]),
                                 ['cough']),
                                ('tf3',
                                 OneHotEncoder(drop='first',
                                               sparse_output=False),
                                 ['gender', 'city'])])

In [ ]:
transformer.fit_transform(x_train).shape

(70, 7)